# --- Android / Gradle ---
.gradle/
**/build/
local.properties
.cxx/
.externalNativeBuild/
captures/
*.iml
.idea/
.DS_Store

# --- ExecuTorch / modele w assets ---
app/src/main/assets/**/xnnpack/**
app/src/main/assets/**/*.pte
app/src/main/assets/**/*.pt
app/src/main/assets/**/*.onnx
app/src/main/assets/**/*.bin

# (opcjonalnie) duże próbki audio
# app/src/main/assets/**/*.wav
